# Бинарники моделей НЕ коммитим по умолчанию: репозиторий публичный (Apache-2.0),
# а у сторонних моделей своя лицензия — их коммит был бы нарушением.
# Версионируем только sidecar-лицензии (*.license.md), README, скрипт и снапшоты.
#
# Redistributable-модель (CC0 / явно разрешена) добавить явно, после фиксации лицензии:
#   git add -f fixtures/models/<имя>.glb
*.glb
*.gltf
*.bin
*.png
*.jpg
*.jpeg
*.webp
*.ktx2
*.basis
